<h1> Create a new Category </h1>

<%= link_to 'Back to Category Listings', admin_categories_path %>

<%= form_with model: [:admin, @category], class: "was-validated", local: true do |f| %>

	<%= render "fields", f: f %>

	<%= f.submit class:"btn btn-primary" %>

	<% end %>